.headerContainer{
  display: flex;
  justify-content: end;
  align-items: center;
}

.connected{
  width: 10px;
  height: 10px;
  background-color: var(--brand-alert-red);
  display: block;
  border-radius: 25px;
  margin-right: calc(var(--spacer) / 4);
}

.disconnected {
  width: 10px;
  height: 10px;
  background-color: var(--brand-alert-green);
  display: block;
  border-radius: 25px;
  margin-right: calc(var(--spacer) / 4);
}

.tabListContainer {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border-color);
  max-width: 100%;
  min-height: calc(var(--spacer) * 1.5);
  font-family: var(--font-family-base);
}

.tabList {
  text-align: center;
  padding: calc(var(--spacer) / 2) 0 0 0;
  margin-bottom: 0;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  display: inline-block;
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 2);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-right: -1px;
  background: none;
  border: 0;
  white-space: nowrap;
}

.tabHidden {
  display: none !important;
}

.tab,
.tab label {
  cursor: pointer;
}

.tab:focus-visible {
  outline: none;
}

.tab[aria-selected='true'] {
  background-color: inherit;
  color: var(--font-color-text);
  list-style: none;
  background-color: var(--background-body);
  border: 1px solid var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 0;
}

.tab[aria-disabled='true'] {
  cursor: not-allowed;
}

.tab > div {
  margin: 0;
}

.tabContent {
  padding: calc(var(--spacer) / 2);
  border: 1px solid var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: 0;
  text-align: left;
  background-color: var(--brand-white);
  position: relative;
}

.tabPanel {
  color: var(--font-color-text);
  font-size: var(--font-size-base);
  font-family: var(--font-family-heading);
  line-height: 1.2;
  display: block;
  margin-bottom: 0;
  margin-top: 1rem;
}

.tabPanel label {
  font-size: var(--font-size-small) !important;
}

.tabLabel {
  display: block;
  margin-bottom: calc(var(--spacer) / 4);
}

.priceLabel, .ddoLinkLabel {
  position: absolute;
  right: -1px;
  top: 0.8rem;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  cursor: auto !important;
  transform: none !important;
}

.ddoLinkLabel {
  text-transform: inherit !important;
  user-select: text !important;
}

@media (min-width: 40rem) {
  .tabContent {
    padding: calc(var(--spacer) / 2);
  }
}

@media (min-width: 60rem) {
  .tab {
    padding: calc(var(--spacer) / 8) var(--spacer);
  }
}

.radio {
  composes: radio from '../Radio/index.module.css';
}