
.historyListTable {
  width: 100%;
  overflow-x: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.tableAssets {
  width: 100%;
  border-collapse: collapse;
  display: table;
  border-style: hidden;
}

.tableAssets td, .tableAssets th {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableAssets tbody td:last-child button {
  margin: auto;
}

.tableButton {
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 2) !important;
  height: 1.7rem;
}


.historyLocked {
  filter: blur(2px);
}

.historyUnlocked {
  filter: blur(0px);
}

.unlockButton {
  position: absolute;
  top: 60%;
  left: 50%;
}
